---
import Link from "../ui/Link.astro";
import Title from "../ui/Title.astro";
---

<section id="projects" class="w-full overflow-hidden transition-colors duration-300">
  <div
    class="relative z-10
            w-full max-w-7xl mx-auto
            px-4 sm:px-5 md:px-6 lg:px-10
            pb-10 md:pb-16"
  >
    <Title title="Proyectos" span="Destacados" />

    <Link href="/projects" text="Ver todos" />
  </div>
</section>
