---
import { stackData } from "../../data/stackData";
---

<div class="relative overflow-x-hidden px-8 py-8">
  <div class="animate-scroll hover:animate-paused flex w-max gap-12 md:gap-20">
    {
      stackData.concat(stackData, stackData).map(item => (
        <div class="group flex items-center gap-2 transition-all duration-300 ">
          <img
            src={`/svg/${item.name}.svg`}
            alt={item.name}
            class="h-7 w-auto object-contain  transition-transform group-hover:scale-110"
            width="30"
            height="30"
            loading="lazy"
          />
          <span class="text-lg font-medium text-(--hero-text)">
            {item.name.charAt(0).toUpperCase() + item.name.slice(1)}
          </span>
        </div>
      ))
    }
  </div>
</div>

<style>
  @keyframes scroll {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-50%);
    }
  }
  .animate-scroll {
    animation: scroll 60s linear infinite;
  }

  @media (min-width: 768px) {
    .animate-scroll {
      animation-duration: 80s;
    }
  }
</style>
