<section id="specialties" class="w-full min-h-screen">
  <div class="relative z-10 w-full max-w-7xl mx-auto px-6 md:px-10">
    <div>
      <h2 class="text-[clamp(2.5rem,5vw,3.5rem)] font-semibold text-[var(--hero-text)] mb-6">
        Especialidades
        <span class="text-[var(--accent)]">Principales</span>
      </h2>

      <div class="w-24 h-1.5 bg-[var(--accent)] rounded-full"></div>
    </div>

    <div class="mt-20">JASMANY</div>
    <div class="translate-y-20">JASMANY</div>
  </div>
</section>
