---
interface Props {
  title: string;
  description: string;
  icon: string;
}

const { title, description, icon } = Astro.props;

// 1. Importamos todos los SVGs de la carpeta de forma dinámica
const githubSvgs = import.meta.glob("/public/svg/*.svg", { as: "raw" });
const svgPath = `/public/svg/${icon}.svg`;

// 2. Obtenemos el contenido crudo del SVG
const svgRaw = githubSvgs[svgPath] ? await githubSvgs[svgPath]() : "";
---

<div
  class="group
          relative
          p-5
          md:p-6
          rounded-xl
          border
          border-[var(--border)]
          bg-[var(--card)]
          shadow-md
          transition-all
          duration-300
          hover:border-[var(--accent)]
          hover:-translate-y-1
          hover:shadow-lg
          overflow-hidden"
>
  <!-- Línea superior animada -->
  <div
    class="absolute
      top-0
      left-0
      h-[3px]
      w-0
      bg-[var(--accent)]
      transition-all
      duration-300
      group-hover:w-full"
  >
  </div>

  <!-- Glow suave -->
  <div
    class="absolute
            inset-0
            bg-gradient-to-br
            from-[var(--accent)]/5
            to-transparent
            opacity-0
            group-hover:opacity-100
            transition-opacity
            duration-300
            pointer-events-none"
  >
  </div>

  <div class="flex items-center gap-5">
    <div
      class="w-10 h-10 flex items-center justify-center shrink-0 group-hover:scale-110 transition-all duration-300"
    >
      <!-- <div
      class="w-14 h-14 rounded-lg bg-[var(--accent-light)] flex items-center justify-center shrink-0 group-hover:scale-110 group-hover:bg-[var(--accent)] transition-all duration-300"
    > -->
      <div
        class="text-[var(--accent)] group-hover:text-white transition-colors duration-300 w-7 h-7 flex items-center justify-center [&>svg]:w-full [&>svg]:h-full [&>svg]:fill-current"
        set:html={svgRaw}
      />
    </div>

    <div class="p-3">
      <h3 class="text-xl md:text-2xl font-bold text-[var(--hero-text)]">
        {title}
      </h3>
    </div>
  </div>

  <p class="text-base leading-relaxed text-[var(--hero-desc)]">
    {description}
  </p>
</div>
